/*Generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  width: 100%;
  max-width: 1600px;
  padding: 0;
}
.logo {
  width: 90%;
  max-width: 240px;
}
.intro-claro {
  background-color: #dfedfd;
  padding: 9em 10em 0 10em;
}
.intro-oscuro {
  background-color: #1a519e;
  padding: 9em 10em 0 10em;
}
.seccion-tipo2 {
  padding: 4em 10em 4em 10em;
  background-color: #dfedfd;
  color: #1a519e;
}
.seccion-tipo3 {
  padding: 2em 10em 4em 10em;
  color: #707070;
}
.seccion-tipo3 p,
li {
  font-size: 1.125em;
  line-height: 1.25em;
}

.seccion-tipo4 {
  background-color: #fec700;
  padding: 3em 10em;
  color: #1a519e;
}
.seccion-tipo4 p {
  font-size: 1.25em;
  line-height: 1.25em;
  margin-bottom: 0;
}

.titulos {
  font-weight: bold;
  font-size: 5.25em;
  margin: 0;
}
.desc-portada-strong {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: -0.045em;
  margin-top: 0 !important;
  margin-bottom: 3.5em;
}
.desc-portada {
  font-size: 1.3em;
}
.enlaces {
  color: #1a519e;
  text-decoration: none;
}
.ajuste-descripcion {
  padding-right: 5em;
}

/*navbar*/
.header {
  width: 100%;
  position: absolute;
  z-index: 2;
}
.header li {
  list-style: none;
}
.header a {
  text-decoration: none;
}
.header .navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #1a519e;
}
.nav-contraste .hamburger .bar {
  background-color: #dfedfd;
}
.header .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}
.header .nav-item {
  margin-left: 1em;
}
.header .nav-link {
  font-size: 0.8em;
  font-weight: bold;
  color: #1a519e;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}
.header .nav-link:hover {
  color: #f39d0a;
}
.header .nav-logo {
  font-size: 2.1em;
}

/*Footer*/

#footer {
  padding: 0;
  min-width: 13em;
}

#footer .footer-bottom img {
  margin: 2em 1em 0 0;
  width: 70%;
}

#footer .footer-bottom {
  font-size: 0.75em;
}
#footer .footer-bottom p {
  margin: 0;
}
.ajuste-bottom-footer {
  padding-top: 1em;
}
#footer .footer-top {
  padding: 3em 0;
  background-color: #0f4cb0;
}

#footer .footer-top a {
  text-decoration: none;
  color: #ffffff;
  text-align: left;
  font-size: 0.875em;
  line-height: 2em;
  font-weight: bold;
}

#footer .footer-top span {
  color: #ffffff;
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
}

#footer .footer-top .sub-block-social .social,
#footer .footer-top .sub-block-menu .items {
  list-style: none;
  width: max-content;
}

#footer .footer-top .sub-block-social .social {
  margin: 0;
}

#footer .footer-top .sub-block-menu {
  border-left: 0.0625em solid #fff;
  border-right: 0.0625em solid #fff;
}

/*Programa*/
#programa .titulos {
  color: #1a519e;
}
.intro p {
  line-height: 1.3em;
}
#programa .desc-portada-strong {
  color: #707070;
}
#programa .desc-portada {
  color: #707070;
}

.imgs-portadas {
  width: max-content;
  margin-top: 1.25em;
}
.componentes {
  background-color: #1a519e;
  padding: 3em 8em 4em 10em;
  color: #ffffff;
}
.componentes p {
  font-size: 1.25em;
  line-height: 1.25em;
  margin-bottom: 0;
}
.ajuste-col-componente {
  padding-right: 4.375em;
  padding-left: 0;
}
.lineas {
  width: 5.375em;
  height: 1.5625em;
}
.titulos-componentes {
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 0.25em;
}
.titulo-equidad {
  color: #dfedfd;
}
.titulo-equipo {
  color: #ee85ca;
}
.titulo-excelencia {
  color: #f39d0a;
}

.enlaces-componentes a {
  color: #1a519e;
  font-size: 1.2em;
  text-decoration: none;
  background-color: #dfedfd;
  padding: 0.4em 1em;
  margin: 0.5em 1em;
}
/*Equidad*/

#equidad .titulos {
  color: #dfedfd;
}
#equidad .desc-portada-strong {
  color: #fec700;
  margin-bottom: 0;
}
#equidad .desc-portada {
  color: #ffffff;
}
#soy h2 {
  font-size: 1.25em;
  font-weight: bold;
  margin-left: 0.5em;
}
#botones-equidad {
  padding: 5em 10em;
}
.botones-oscuros {
  list-style: none;
  text-align: center;
  position: relative;
}
.botones-oscuros::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125em;
  background: #1a519e;
  right: calc(25%);
  top: calc(50% - 0.0625em);
  z-index: 1;
}
.botones-oscuros a {
  background: #1a519e;
  color: white;
  border-radius: 2.5em;
  display: inline-block;
  max-width: 9.6875em;
  margin: 1.25em;
  font-size: 1.1875em;
  font-weight: 500;
  letter-spacing: 0.03125em;
  padding: 0.3125em 1.5625em;
  border: solid 0.0625em #1a519e;
  text-decoration: none;
}
.botones-oscuros a:hover {
  color: #f5d65c;
}
/*excelencia*/
#excelencia {
  padding-top: 9em;
}
#excelencia .titulos {
  color: #fff;
}
#excelencia .desc-portada-strong {
  margin-bottom: 1em;
}
#excelencia .desc-portada {
  font-size: 1.3em;
}
#aclaracion {
  padding-top: 4em;
}
#cronograma h3 {
  font-size: 1.5em;
  font-weight: bold;
}
.table-bordered {
  max-width: 40.625em;
  color: #1a519e;
  margin-left: auto;
  margin-right: auto;
}
table.table-bordered {
  border: solid 0.0625em #1a519e;
  margin-top: 1.25em;
}
table.table-bordered > thead > tr > th {
  border: solid 0.0625em #1a519e;
}
table.table-bordered > tbody > tr > td {
  border: solid 0.0625em #1a519e;
  vertical-align: middle;
}
#cierre p {
  font-size: 1.125em;
}
#requisitos ol {
  padding-left: 1em;
}
.borde-salario {
  border-right: 0.125em solid #1a519e;
  color: #1a519e;
  font-size: 1.375em !important;
  height: 7em;
  padding-right: 0.7em;
}
.p-salario {
  padding: 0 0.7em;
}
#identificado .seccion-tipo2 {
  color: #1a519e;
}
#identificado p {
  font-size: 1.25em;
}
#identificado h2 {
  font-size: 1.5em;
}

/*Equipo*/

#equipo {
  color: #1a519e;
  background: url("../assets/images/equipo-birrete.svg") no-repeat left
    calc(90% - 0px);
  background-color: #dfedfd;
}
#equipo p {
  font-size: 1.25em;
  line-height: 1.5em;
}
.ajuste-img {
  padding-right: 1em;
}
.img-libros {
  max-width: 23.75em;
}
.img-presupuesto {
  display: block;
  max-width: 28.125em;
  margin: 1.25em auto 0;
}

#recursos {
  padding-top: 4em;
}
#recursos ul {
  list-style: none;
  padding-left: 0;
}
/*Conéctate*/
#conectate {
  color: #1a519e;
}
#acordeon .panel-body a {
  color: #1a519e;
  text-decoration: none;
}
#acordeon img {
  display: block;
  margin: auto;
}
.logos-conectate-s {
  width: 12.5em;
}
.logos-conectate-m {
  width: 15.625em;
}
.logos-conectate-l {
  width: 31.25em;
}
.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #eeeeee;
}

.panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #fff;
  background-color: #2c79dd;
  border-color: #2c79dd;
}

.panel-title {
  font-size: 18px;
}

.panel-title > a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

.more-less {
  float: right;
  color: #fff;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eeeeee;
  padding: 20px 0;
}

#inspiracion h3 {
  font-size: 1.75em;
  font-weight: bold;
  line-height: 1.375em;
}
.ingreso {
  background-color: #1a519e;
  color: #fff;
  font-size: 1.125em;
  font-weight: 200;
  text-decoration: none;
  padding: 0.5em 1em;
  margin: 1em 0;
}
#mentoria {
  color: #1a519e;
}
#mentoria h3 {
  font-weight: bold;
}
#mentoria p {
  font-size: 1.25em;
  line-height: 1.5em;
}
#mentoria .nav-item {
  border-bottom: 0px solid #dee2e6;
  background: #4690ed;
  width: 25%;
  font-size: 1.5em;
  letter-spacing: -0.72px;
  text-align: center;
}

#mentoria .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border-color: transparent;
  border: none;
  border-radius: 0;
}
#mentoria .nav-tabs .nav-link,
.nav-tabs .nav-link:hover {
  border: 0px solid transparent;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  color: white;
  text-transform: uppercase;
  padding: 15px 20px;
}
#mentoria .tab-content {
  background: #dfedfd;
  padding: 35px 35px;
}
#estudiante ul {
  list-style: none;
  padding-left: 0;
}
#mentor ul {
  list-style: none;
  padding-left: 0;
}

/*---Media Queries---*/
/* X-Large devices)*/
@media screen and (min-width: 1200px) {
  .menu-querie {
    display: none;
  }
  .img-equipo-movil {
    display: none;
  }
  #botones-excelencia .botones-oscuros::before {
    background: #1a519e;
    right: calc(40%);
    top: calc(50% - 0.0625em);
    z-index: 1;
  }
}
/*Large devices*/
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .menu-querie {
    display: none;
  }
  .img-equipo-movil {
    display: none;
  }
  .ajuste-img-movil {
    display: inherit;
  }
  #botones-excelencia .botones-oscuros::before {
    background: #1a519e;
    right: calc(35%);
    top: calc(50% - 0.0625em);
    z-index: 1;
  }
  #botones-excelencia .botones-oscuros a {
    margin: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    line-height: 0.8125em;
  }
  #botones-equidad .botones-oscuros::before {
    background: #1a519e;
    right: calc(40%);
    top: calc(50% - 0.0625em);
    z-index: 1;
  }
  #botones-equidad .botones-oscuros a {
    margin: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    line-height: 0.8125em;
  }
}

/* Medium devices tablet__________________________________________________*/
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .menu-querie {
    display: none;
  }
  #footer .footer-top .sub-block-menu {
    border-left: none;
    border-right: none;
  }
  #footer .footer-top .sub-block-social {
    flex-direction: column !important;
  }
  #footer .footer-top .sub-block-social span {
    padding-bottom: 1em;
  }
  .logo {
    width: 200px;
  }
  .intro-claro,
  .intro-oscuro {
    padding: 10em 3em 0 3em;
  }
  .componentes {
    padding: 3em 3em 2em 3em;
  }
  .seccion-tipo2,
  .seccion-tipo4 {
    padding: 2em 3em 2em 3em;
  }
  .seccion-tipo3 {
    padding: 2em 3em 2em 3em;
  }
  .seccion-tipo3 p,
  li {
    font-size: 1em;
    line-height: 1.125em;
    margin-bottom: 0;
  }
  .seccion-tipo4 p {
    font-size: 1em !important;
    line-height: 1.25em;
    margin-bottom: 0;
  }
  .ajuste-descripcion {
    padding-right: 2em;
    margin-bottom: 3em;
  }
  .titulos {
    font-size: 2.9375em;
    margin-bottom: 0.2em;
  }
  .desc-portada-strong {
    font-size: 1em;
    margin: 2em 0 1em 0;
  }
  .desc-portada {
    font-size: 1em;
    margin-top: 2em;
  }
  .imgs-portadas {
    width: 100%;
  }
  .componentes p {
    font-size: 1em;
    line-height: 1.125em;
  }
  .ajuste-col-componente {
    padding: 0;
  }
  #soy .ajuste-col-componente {
    padding-right: 3em;
  }
  #botones a {
    display: none;
  }
  #botones-equidad {
    padding: 2em;
  }
  #botones-equidad .botones-oscuros a {
    margin: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    line-height: 0.8125em;
  }
  .botones-oscuros::before {
    content: none;
  }
  .ajuste-bottom-footer {
    padding: 1em 0;
  }
  #excelencia {
    padding-bottom: 0;
  }
  #aclaracion {
    padding-top: 2em;
  }
  #identificado .ajuste-col-componente {
    padding-left: 4em;
  }
  #identificado h3,
  h2,
  p {
    font-size: 1.125em !important;
  }
  #benficiario .ajuste-col-componente {
    padding-left: 4em;
  }
  #benficiario h3,
  h2 {
    font-size: 1.125em !important;
  }
  #beneficiario .seccion-tipo4 p {
    font-size: 1.125em !important;
  }
  .borde-salario {
    border-right: none;
    color: #1a519e;
    font-size: 1.375em !important;
    height: 1em;
    padding-right: 0.7em;
  }
  .p-salario {
    padding: 0.5em 0 0 0;
    width: 100%;
    font-size: 1.125em !important;
  }
  #botones-excelencia .botones-oscuros a {
    font-size: 0.6875em;
    padding: 1em 2em 1em 2em;
    line-height: 0.8125em;
    max-width: 12em;
  }
  .ajuste-img-movil {
    display: none !important;
  }
  .img-equipo-movil {
    display: inherit;
    background-color: #dfedfd;
  }
  #equipo {
    background: none;
    background-color: #dfedfd;
    font-weight: bold;
  }

  #recursos p {
    font-size: 1em !important;
    line-height: 1.3125em;
  }
  #conectate .ajuste-descripcion p {
    font-size: 1em !important;
    line-height: 1em;
  }
  .logos-conectate-s {
    width: 9em;
  }
  .logos-conectate-m {
    width: 10em;
  }
  .logos-conectate-l {
    width: 15em;
  }
  #img-inspiracion {
    display: none;
  }
  #inspiracion h3 {
    font-size: 1.125em;
  }
  #mentoria .nav-item a {
    font-size: 0.6em;
    line-height: 1.3em;
  }
  #mentoria .ingreso {
    font-size: 0.85em;
  }
  #mentoria p {
    font-size: 1em !important;
    line-height: 1.3125em;
    padding-top: 0.5em;
  }
}
/* NavBar */
@media screen and (max-width: 991.98px) {
  .header .nav-menu {
    position: fixed;
    left: -100%;
    top: 5em;
    flex-direction: column;
    background-color: #1a519e;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .header .nav-menu.active {
    left: 0;
  }
  .header .nav-link {
    padding-top: 0.5em;
  }
  .header .nav-menu.active a {
    width: 7.75em;
  }
  .header .nav-item {
    margin: 1em 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
}
/* Small devices------------------------------------------------------------------------ */
@media screen and (max-width: 767.98px) {
  #carousel {
    display: none;
  }
  .footer-index {
    display: none;
  }
  #footer .footer-top .sub-block-social {
    flex-direction: column !important;
  }
  #footer .footer-bottom img {
    margin: 2em;
    width: 60%;
  }
  #footer .ajuste-bottom-footer {
    padding-left: 9em;
  }
  #botones {
    display: none !important;
  }
  header {
    padding: 0;
  }
  .body-programa {
    background-color: #1a519e;
  }
  .menu-querie .container-fluid {
    max-height: 5em;
  }
  .logo {
    width: 45%;
    min-width: 128px;
  }
  .menu-home {
    display: none !important;
  }
  .menu-querie {
    display: inherit;
    margin-top: 50%;
  }
  .menu-querie .nav-item {
    text-decoration: none;
    font-size: 0.875em;
    font-weight: bold;
    color: #1a519e;
    background-color: #fff;
    width: 124px;
    height: 41px;
    align-items: center;
    margin: 1em 0;
    text-align: center;
  }
  .menu-querie .navbar-nav a {
    font-size: 0.875em;
    margin: 0.7em 0;
    padding: 0.5em 3em;
  }
  .menu-querie .nav-link a {
    text-decoration: none;
  }

  .intro-claro,
  .intro-oscuro,
  .componentes {
    padding: 6em 2em 2em 2em;
  }
  .seccion-tipo2,
  .seccion-tipo3,
  .seccion-tipo4 {
    padding: 4em 2em 2em 2em;
  }
  .seccion-tipo3 p,
  li {
    font-size: 0.75em;
    line-height: 1.25em;
  }
  .seccion-tipo4 p {
    font-size: 0.75em;
    line-height: 1.25em;
    margin-bottom: 0;
  }
  .ajuste-descripcion {
    padding-right: 0;
    margin-bottom: 3em;
  }
  .titulos {
    font-size: 2.9375em;
  }
  .desc-portada-strong {
    font-size: 1em !important;
    margin: 2em 0 1em 0;
  }
  .desc-portada {
    font-size: 0.75em !important;
    margin-top: 1em;
  }
  .imgs-portadas {
    width: 100%;
    margin-top: 0;
  }
  .componentes p {
    font-size: 0.75em;
    line-height: 1.25em;
    margin-bottom: 1em;
  }
  .ajuste-col-componente {
    padding: 0 4em;
  }
  #botones-equidad {
    padding: 4em 2em 2em 2em;
  }

  #botones-equidad .botones-oscuros a {
    font-size: 0.8125em;
    margin: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    line-height: 0.8125em;
  }
  .botones-oscuros::before {
    content: none;
  }
  .ajuste-bottom-footer {
    padding-left: 5em;
  }
  #aclaracion {
    padding-right: 4em;
  }
  #cronograma .seccion-tipo2 p {
    font-size: 0.6875em !;
  }
  #cierre p {
    font-size: 0.75em;
  }
  .borde-salario {
    border-right: none;
    color: #1a519e;
    font-size: 1.375em !important;
    height: 1em;
    padding-right: 0.7em;
  }
  #identificado h3,
  h2,
  p {
    font-size: 0.875em !important;
  }
  #benficiario h3,
  h2,
  p {
    font-size: 0.875em !important;
  }
  #botones-excelencia .botones-oscuros a {
    font-size: 0.75em;
    margin: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    line-height: 0.75em;
  }
  .ajuste-img-movil {
    display: none !important;
  }
  .img-equipo-movil {
    display: inherit;
    background-color: #dfedfd;
  }
  #equipo {
    color: #1a519e;
    background: none;
    background-color: #dfedfd;
  }
  .logos-conectate-s {
    width: 9em;
  }
  .logos-conectate-m {
    width: 10em;
  }
  .logos-conectate-l {
    width: 15em;
  }
  #mentoria .nav-item a {
    font-size: 0.6em;
    line-height: 1.3em;
  }
  #mentoria .ingreso {
    font-size: 0.85em;
  }
  #inspiracion p {
    font-size: 1.125em;
  }
  #mentoria p {
    font-size: 1.125em;
  }
}
